{% extends "base.html" %}


{% block content %}
    {% if not created %}


        <div style="margin: 30px;"></div>
            <form action=".", method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <button type="submit"> Create Article </button>

            
    {% else %}
        <p>Your article was created.</p>
        <a href="/articles/{{object.id}}" >{{ object.title }} --- {{ object.content }}</a>
    {% endif %}
{% endblock content %}